<!DOCTYPE html>
<html>
  <head>
    <title>Programacion II</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <li>Nombre: Héctor Correa</li>
    <br>
    <li>Cedula: V30.039.545</li>
    <br>
    <li>Seccion: 1</li>
  </body>
</html>
